html{
	height: 100%;
	width: 100%;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Arial';
	background-color: #EFEFEF;
}

.logo{
	background-repeat: no-repeat;
	height: 140px;
	width: 500px;
	margin: auto;
	margin-top: 5%;
	background-image: url('../img/dayco_developments_cropped.png');
	background-size: 100%;
}

.custom-container{
	margin-top: 5%;
}

/***************************************/

.comment-form{
	padding: 0 20px 0 20px;
	font-family: 'Merriweather Sans';
}

/*.comment-form label{
	margin-top: 2%;
}*/

.comment-form input{
	display: block;
	width: 100%;
}

.comment-form textarea{
	width: 100%;
	display: block;
	height: 250px;
	resize:none;
}

.comment-form input[type=submit]{
	width: 100px;
	padding: 10px;
	margin: 5% auto;
	font-family: 'Merriweather Sans';
	background-color: transparent;
	border: 2px solid #446474;
	color: #446474;
}

.comment-form input[type=submit]:hover{
	background-color: #446474;
	color: #fff;
}

.form-group.has-feedback> span.form-control-feedback{
	display: none;
}

.form-group.has-error> span.form-control-feedback{
	display: block;
}

.form-group.has-feedback> span.help-block{
	visibility: hidden;
}

.form-group.has-error> span.help-block{
	visibility: visible;
}

.custom-help-block{
	display: inline-block;
	margin: 0;
	float: right;
}